
<div>
    <h1>Logueate para visitar la tienda</h1>
    <form id="loginForm">
    <label>Email:</label>
    <input type="text" name="email">
    <br>
    <br>
    <label>Contraseña:</label>
    <input type="password" name="password">
    <input type="submit">
    </form>
    <p>Ingresa con GitHub:<a href="/api/sessions/github">¡Haz click aqui!</a></p>
    <p>¿No estas registrado? <a href="/register">Registrate aqui</a></p>
    <p>¿Olvidaste tu contraseña? <a href="/resetPassword">!Restaurarla  aqui!</a></p>

</div>

<script src="/js/login.js"></script>